<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Latest News</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    {% if news_items %}
    <ul>
      {% for news in news_items %}
      <div class="row">
        <div class="col s12 m5">
          <a href="{{ news.article_url }}">
            <div class="card large">
              <div class="card-image">
                <img src="{{ news.image_url}}" />
              </div>
              <div class="card-content">
                <span class="card-title black-text">{{ news.title|title }}</span>
                <p class="grey-text text-darken-4">{{ news.content|default:''|truncatewords:20 }}</p>
                <p class="grey-text">Author: {{ news.author|default:'Unknown' }}</p>
                <span class="grey-text">Published on: {{ news.published_at }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <p>No news are available.</p>
    {% endif %}
  </body>
</html>
